body{
	background-color: #232323;
}

.square{
	margin: 0 auto;
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	max-width: 600px;
}

h1{
	color: white;
}

span{
	color: white;
}
#message{
	color: black;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}